html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    justify-content: center;
    display: flex;
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    width: 50vw;
    padding: 5vh;
    background-color: rgb(59, 28, 50);
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 5vw;
    justify-content:space-around;
}

#container-texts {
    width: 100%;
}

#title-texts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

#subtitle{
    text-align: center;
    font-size: 2rem;
    margin: 0;
    text-transform: uppercase;
}

p {
    margin: 0;
}

#display {
    width: 100%;
    height: 20vh;
    background-color: rgb(106, 30, 85);
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2vw;
    font-size: 2rem;
}

#to-calculate{

}

#result {
    align-self: self-end;
}

#keyboard {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#line, #line-bottom {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    gap: 1vw;
}

.button {
    min-width: 8vw;
    min-height: 5vw;
    background-color: rgb(166, 77, 121);
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
}

#del {
    background-color: rgb(189, 111, 172);
    color: black;
}

#ac {
    background-color: rgb(189, 111, 172);
    color: black;
}